<div class="container">
  <div class="px-5 pt-5 my-2 text-center">
    <div class="row justify-content-center mt-5">
      <h1 class="display-1 fw-bold text-body-emphasis top-page-title">Menu Maker</h1>
      <div class="h3 my-3">
        お気に入りのレシピで、あなた専用のメニュー表を作成しよう！
      </div>

      <div class="container-fluid mt-5">
        <h2 class="text-center"><em>Menu Maker </em>とは？</h2>
        <p class="h5 mt-3">
          <br>このアプリでは、クックパッドでレシピを検索し、お気に入りのレシピを簡単に保存することができます。
          <br>保存したレシピから、あなたの好みに合わせたメニュー表を自由に作成可能です。
          <br>レシピのURLを入力するだけで自動保存ができる他、手動でレシピ情報を入力することもできます。
        </p>
      </div>

      <div class="container how-to-use border border-dark rounded col-lg-9 mt-3 mx-auto text-start">
        <h3 class="mt-3">
          <%= t('top.how_to_use') %>
        </h3>
        <ol class="lead mt-3">
          <li>アカウントを作成してログインします。</li>
          <li>レシピを保存または作成します。
            <ol>
              <li>自動保存の場合
                <ol>
                  <li>【レシピ検索】からレシピを検索し、保存したいレシピのレシピページのURLをコピーします。</li>
                  <li>【レシピ保存】から「自動で保存」を選択し、コピーしたURLを入力してレシピを保存します。</li>
                </ol>
              </li>
              <li>手動保存の場合
                <ol>
                  <li>【レシピ保存】から「手動で保存」を選択して、レシピ情報を入力して保存（作成）します。</li>
                </ol>
              </li>
            </ol>
          <li>【メニュー表作成】から、メニュータイトルやコメントの入力、レシピ、デザインを選択してオリジナルのメニュー表を作成できます！</li>
        </ol>
        <%= link_to "詳しい使い方はこちら", page_path('how_to_use'), class: "usage-details", data: { turbo: false } %>
      </div>

      <div class="col-4 d-flex justify-content-center align-items-center my-5">
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center mb-4">
            <%= link_to t('before_login_top.login'), login_path, class: 'btn top-btn-primary', type: "button" %>
          </div>
          <div class="col-12 d-flex justify-content-center align-items-center my-1">
            <%= link_to t('before_login_top.new_registration'), new_user_path, class: 'btn top-btn-secondary', type: "button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



