<div class="container ingredient-fields mb-2">
  <div class="row">
    <%= f.text_field :name, placeholder: t('ingredient_fields.ingredient_name'), style: 'width: 200px; height: 40px;' %>
    <%= f.text_field :quantity, placeholder: t('ingredient_fields.quantity'), style: 'width: 80px; height: 40px;' %>
    <%= f.text_field :unit, placeholder: t('ingredient_fields.unit'), style: 'width: 80px; height: 40px;'  %>
  </div>
</div>