<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="col d-flex justify-content-end align-items-center">
    <span class="d-inline-block my-3">
      <%= link_to t('.to_top_page'), root_path, class: "custom-link" %>
    </span>
  </div>
  <h1 class="text-center my-5"><%= t('.title') %></h1>
  <div class="container col-lg-9 my-5 py-3 mx-auto text-start">
    <div class="d-grid gap-2 mx-auto">
      <%= link_to t('.cookpad'), "https://cookpad.com/", class: 'btn btn-cookpad mb-5', target: "_blank" %>
    </div>
    <p>※ 現在、レシピの自動保存は「Cookpad」のレシピURLのみに対応しています。</p>
  </div>
</div>
