<header>
  <nav class="container-fluid">
    <div class="row align-items-center">
      <div class="col text-center">
        <%= link_to root_path, class: "icon-link" do %>
          <%= image_tag "menu_maker_logo.png", alt: "トップページ", class: "logo" %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
