<footer class="pt-3 mt-4 fixed-bottom">
  <ul class="nav justify-content-center pb-2">
    <li class="nav-item">
      <%= link_to "#", class: "nav-link mx-5 text-body-secondary custom-link" do %>
        お問い合わせ
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#", class: "nav-link mx-5 text-body-secondary custom-link" do %>
        利用規約
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#", class: "nav-link mx-2 text-body-secondary custom-link" do %>
        プライバシーポリシー
      <% end %>
    </li>
  </ul>
  <p class="text-center text-body-secondary">Copyright &copy; 2024 Menu Maker</p>
</footer>
