<footer class="pt-3 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-4 d-flex justify-content-end align-items-center">
        <%= link_to t('footer.inquiry'), new_inquiry_path, class: "custom-link", data: { turbo: false } %>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center">
        <%= link_to t('footer.terms_of_use'), page_path('terms'), class: "custom-link", data: { turbo: false } %>
      </div>
      <div class="col-4 d-flex justify-content-start align-items-center">
        <%= link_to t('footer.privacy_policy'), page_path('privacy'), class: "custom-link", data: { turbo: false } %>
      </div>
    </div>
  </div>
  <p class="text-center text-body-secondary py-3">Copyright &copy; 2024 Menu Maker</p>
</footer>
