/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #FEEABC; /* アプリケーションの背景色 */
  margin: 0;
  padding: 0;
  padding-bottom: 200px;
}

h1.top-page-title {
  font-family: "Playwrite NO", cursive;
}

header {
  background-color: #F6B352;
  width: 100%;
}

.logo {
  max-height: 100px; /* ロゴの高さを調整 */
  max-width: 100%;  /* 画像がコンテナを超えないように */
}

.custom-link {
  color: #4C4C4C;
  text-decoration: none; /* アンダーラインを消す場合 */
  font-size: 20px;
  text-indent: 1px;
}

.custom-link:hover {
  color: #61C359; /* ホバー時に色を変える場合 */
}

.custom-link-footer {
  color: #4C4C4C;
  text-decoration: none; /* アンダーラインを消す場合 */
  font-size: 20px;
  text-indent: 1px;
}
.custom-link-footer:hover {
  color: #61C359; /* ホバー時に色を変える場合 */
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.nav-link.active {
  color: #fff; /* 例: アクティブなリンクの色を白にする */
}

footer {
  background-color: #F6B352;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.page-title {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.custom-card-width {
  max-width: 70%; /* 必要に応じて調整 */
  margin: auto; /* カードを中央揃えにする */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #FFD982;
}

.btn-primary {
  background-color: #61C359; /* ボタンの色　*/
  border: none; /* ボーダーを消す　*/
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 25px; /* 文字サイズ　*/
  text-indent: 10px;
}
.btn-primary:hover {
  background-color: #50a149; /* ホバー時の色 */
}

.form-label {
  font-size: 20px;
}

.btn-secondary {
  background-color: #F78700; /* ボタンの色　*/
  border: none; /* ボーダーを消す　*/
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 25px; /* 文字サイズ　*/
  text-indent: 10px;
}
.btn-secondary:hover {
  background-color: #d07301 ; /* ホバー時の色 */
}

.btn-cookpad {
  background-color: #F78700; /* ボタンの色　*/
  border: none; /* ボーダーを消す　*/
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 30px; /* 文字サイズ　*/
  width: 45rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 5rem;
}
.btn-cookpad:hover {
  background-color: #d07301 ; /* ホバー時の色 */
}

.btn-delish-kitchen {
  background-color: #FFD200; /* ボタンの色　*/
  border: none; /* ボーダーを消す　*/
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 30px; /* 文字サイズ　*/
  width: 45rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 5rem;
}
.btn-delish-kitchen:hover {
  background-color: #d6af02 ; /* ホバー時の色 */
}

.btn-kurashiru {
  background-color: #E55329; /* ボタンの色　*/
  border: none; /* ボーダーを消す　*/
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 30px; /* 文字サイズ　*/
  width: 45rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 5rem;
}
.btn-kurashiru:hover {
  background-color: #c24421 ; /* ホバー時の色 */
}

.save-options-auto {
  background-color: #F78700;
  width: 20em;
  height: 20em;
}
.save-options-auto:hover {
  background-color: #d07301 ;
}
.save-options-manual {
  background-color: #FFD200;
  width: 20em;
  height: 20em;
}
.save-options-manual:hover {
  background-color: #e7bd03;
}
.save-options {
  background-color: #F5F5F5;
  margin-top: 3rem;
}
.card:hover .save-options {
  background-color: #d9d6d6;
}
.small-font li {
  font-size: 0.9em;
}
.card-text {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.custom-card-manual-save {
  max-width: 90%; /* 必要に応じて調整 */
  margin: auto; /* カードを中央揃えにする */
  background-color: #FFD982;
  padding: 0 1rem;
}

.form-group {
  margin-bottom: 20px; /* フォームとボタンの間に20pxの間隔を追加 */
}
.btn-manual_save {
  background-color: #e2e1df; /* ボタンの色　*/
  border: none; /* ボーダーを消す　*/
  font-size: 15px; /* 文字サイズ　*/
}
.btn-manual_save:hover {
  background-color: #c7c6c4;
}

.manual-save-form-label {
  font-size: 30px;
}
.manual-save-form-control {
  width: 680px;
  height: 50px;
}

.recipes-row {
  margin-left: 3rem;
}

.ingredient-name {
  width: 170px;
  height: 40px;
}
.ingredient-quantity {
  width: 60px;
  height: 40px;
}
.ingredient-unit {
  width: 70px;
  height: 40px;
}
.step-number {
  width: 30px;
  height: 30px;
  text-align: center;
  margin-bottom: 4.8rem;
}
.description {
  width: 270px;
  height: 100px;
}

.btn-danger {
  background-color: #F68655;
  width: 40px;
  height: 40px;
}

.recipe-image-form {
  margin-left: 6rem;
  margin-right: 3rem;
  margin-top: 5rem;
}

.image-form {
  width: 400px;
}

.recipe-preview {
  background-color: #FFD982;
}

.recipe-photo {
  width: 100%;
  height: 100%;
}
.source-site {
  font-size: 18px;
}

.ingredients {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.btn-recipe-edit {
  background-color: #61C359;
  border: none;
  color: #EFEFEF;
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 20px; /* 文字サイズ　*/
  text-indent: 10px;
 
}
.btn-recipe-edit:hover {
  background-color: #50a149;
  color: #dbd8d8;
}
.btn-recipe-delete {
  background-color: #F68655;
  border: none;
  color: #EFEFEF;
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 20px; /* 文字サイズ　*/
  text-indent: 10px;
 
}
.btn-recipe-delete:hover {
  background-color: #cf7047;
  color: #dbd8d8;
}
.btn-menu-imaging {
  background-color: #c4c4c4;
  border: none;
  letter-spacing: 3px; /* 文字の間隔　*/
  font-size: 18px; /* 文字サイズ　*/
  text-indent: 5px;
  margin-bottom: 2rem;
  border-radius: 2px;
  white-space: nowrap;
}
.btn-menu-imaging:hover {
  background-color: #939393;
}

.show-recipe-title {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.show-recipe-photo {
  width: 100%;
  height: auto;
}

.show-ingredient-row {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.subtitle {
  background-color: #F6B352;
  text-align: center;
  letter-spacing: 5px;
  margin-right: 1.5rem;
}

.show-recipe-container {
  padding-right: 3rem;
  padding-top: 1rem;
}

.delete-checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.remove-button {
  margin-left: 0.2rem;
}

.menu-form-label {
  font-size: 30px;
}
.menu-form-control {
  width: 600px;
  height: 50px;
  font-size: 25px;
  margin-left: 1rem;
}

.recipe-select {
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.recipe-list {
  margin-left: 3rem;
  margin-right: 3rem;
}

.add-menu-checkbox input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

.menu-title {
  margin-bottom: 0;
}

.no-underline {
  text-decoration: none;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)); /* 初期の色を設定 */
}
.no-underline:hover {
  color: #61C359; /* ホバー時の色を設定 */
}

.menu-preview {
  background-color: #FFD982;
}

.menu-list {
  margin-left: 3rem;
  margin-right: 3rem;
}
.menu-list-row {
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.field_with_errors {
  display: contents;
}

.custom-card-pages {
  max-width: 90%; /* 必要に応じて調整 */
  margin: auto; /* カードを中央揃えにする */
  padding: 3rem;
  background-color: #fef5e1;
}

.subtitle-1 {
  margin-top: 1em;
  font-weight: 600;
  font-size: 1.3rem;
}

.inquiry-copmlete-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.inquiry-complete-message {
  margin-bottom: 1.5rem;
}

/* パンくず全体のスタイル */
.breadcrumbs {
  font-size: 15px;
  color: #000000; /* リンク以外の部分の色 */
}
/* パンくずリンクのスタイル */
.breadcrumbs a {
  color: #808080; /* 通常のリンク色 */
  text-decoration: none;
}
/* パンくずリンクのホバースタイル */
.breadcrumbs a:hover {
  color: #61C359; /* ホバー時のリンク色 */
  text-decoration: none;
}
/* パンくずの現在のページ部分のスタイル */
.breadcrumbs .current {
  color: #000000; /* 現在のページ部分の色 */
}

.btn-primary-profile {
  background-color: #61C359; /* ボタンの色　*/
  color: #fff;
  border: none; /* ボーダーを消す　*/
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 20px; /* 文字サイズ　*/
  text-indent: 10px;
}
.btn-primary-profile:hover {
  background-color: #50a149; /* ホバー時の色 */
}

.profile-container {
  padding-top: 1rem;
  padding-bottom: 5rem;
  margin-top: 3rem;
}

.custom-card-profile-width {
  max-width: 70%; /* 必要に応じて調整 */
  margin: auto; /* カードを中央揃えにする */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #FFD982;
}

.pass-edit-link {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.profile-form-label {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.top-btn-primary {
  color: #fff;
  background-color: #61C359; /* ボタンの色　*/
  border: none; /* ボーダーを消す　*/
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 25px; /* 文字サイズ　*/
  text-indent: 10px;
  width: 20rem;
}
.top-btn-primary:hover {
  background-color: #50a149; /* ホバー時の色 */
}

.top-btn-secondary {
  color: #fff;
  background-color: #F78700; /* ボタンの色　*/
  border: none; /* ボーダーを消す　*/
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 25px; /* 文字サイズ　*/
  text-indent: 10px;
  width: 20rem;
}
.top-btn-secondary:hover {
  background-color: #d07301 ; /* ホバー時の色 */
}

.pass-forger-link {
  margin-left: 38rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.register-link {
  margin-left: 38rem;
  margin-bottom: 2rem;
}

.search-form {
  position: relative;
  margin-top: 3rem;
  padding-right: 1rem;
  margin-right: 3rem;
}
.form-group {
  margin-left: 0.5rem;
  border-radius: 2px;
}
.search-field {
  height: 2rem;
  width: 13rem;
}
.list-group {
  position: absolute; /* 絶対位置を設定 */
  top: 2rem; /* フォームの下に配置 */
  min-width: 13rem; /* フォームの幅に合わせる */
  max-width: 100%; /* 最大幅を設定、必要に応じて調整 */
  z-index: 1000; /* 他の要素の上に表示 */
  max-height: 8rem;
  overflow-x: auto; /* 横スクロールを有効にする */
  white-space: nowrap; /* テキストを折り返さない */
}
.list-group-item {
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 0.2rem;
}
.btn-search {
  background-color: #c4c4c4; /* ボタンの色　*/
  letter-spacing: 0.1rem; /* 文字の間隔　*/
  text-indent: 0.1rem;
  height: 2rem;
  padding-top: 0.25rem;
  border-radius: 2px;
  margin-left: 0.5rem;
}
.btn-search:hover {
  background-color: #939393;
}

.app-share-footer {
  font-size: 15px;
  margin-top: 1.1rem;
}
.app-share-recipe {
  font-size: 18px;
  margin-top: 1.25rem;
}
.app-share-menu {
  font-size: 18px;
  margin-top: 1rem;
}
.marker {
  background: linear-gradient(transparent 30%, #fab70f 80%);
  padding-bottom: 0.1rem;
}

.x-icon-menu {
  margin-right: 1.5rem;
}

.line-icon-menu {
  width: 5.7rem;
  height: auto;
  margin-bottom: 0.15rem;
}

.x-icon-recipe {
  margin-right: 2.5rem;
  margin-top: 0.25rem;
}
.line-icon-recipe {
  width: 5.7rem;
  height: auto;
  margin-right: 5rem;
  margin-bottom: 0;
}
.line-icon-footer {
  width: 5.6rem;
  height: auto;
  margin-bottom: 0.2rem;
}

.note-label {
  padding: 0;
}
.note-input {
  padding: 0;
}
.add-note {
  padding: 0;
  margin-bottom: 1rem;
  margin-right: 8rem;
}
.note-label h5 {
  margin-bottom: 0;
}
.new-menu .form-select{
  width: 57%;
  margin-right: 4rem;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  height: 1px; /* 線の太さ */
  background-color: #646464; /* 線の色 */
}

.separator span {
  padding: 0 1.5rem; /* テキストの左右の余白 */
  white-space: nowrap; /* テキストの折り返しを防ぐ */
  color: #646464;
}

.how-to-use {
  background-color: #FFD982;
}
.custom-card-usage {
  max-width: 100%; /* 必要に応じて調整 */
  margin: auto; /* カードを中央揃えにする */
  padding: 3rem;
  background-color: #ffda82d8;
}
.custom-margin-head {
  margin: 2.5rem auto;
  border-bottom: 2px solid #a8a8a8;
  padding-bottom: 1rem;
}
.custom-margin {
  margin: 2rem auto;
}
.custom-margin-para {
  margin: 1.5rem auto;
}
.img-fluid {
  border: solid 2px #ffa600;
  margin-bottom: 1.5rem;
  margin-top: 0.8rem;
}
.custom-border {
  margin-bottom: 3rem;
}
.usage-details {
  font-size: 20px;
  font-style: italic;
  color: #57ae4f;
}
.usage-details:hover {
  color: #499342;
}

.recipe-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recipe-item h3 {
  margin: 0;
  display: inline;
}

.recipe-item p {
  margin-left: 10px;
  padding-top: 1rem;
  font-size: 0.9em;
  color: #666;
}

.nav-item .nav-link {
  color: #4C4C4C;
}
.nav-item .nav-link.active {
  background-color: #fbd063;
  border-color: #F78700;
  border-width: 2px;
}
.nav-tabs {
  border-bottom-width: 3px;
  border-color: #F78700;
}
.nav-tabs .nav-link:hover {
  border-width: 2px;
  border-color: #F78700;
}
/* タブレット向けのスタイル */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 18px; /* 基本のフォントサイズを10pxに */
    padding-bottom: 160px;
  }
  footer {
    height: 150px;
  }

  .custom-link {
    font-size: 18px; /* custom-linkのフォントサイズを10pxに */
    margin-right: 1rem;
  }
  .custom-link-footer {
    font-size: 18px;
    margin-right: 1rem;
  }

  .btn-cookpad {
    letter-spacing: 7px;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .btn-delish-kitchen {
    letter-spacing: 7px;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .btn-kurashiru {
    letter-spacing: 7px;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .manual-save-form-label {
    font-size: 25px;
    padding-left: 0.5rem;
  }
  .manual-save-form-control {
    width: 350px;
    height: 35px;
    margin-left: 0.5rem;
    font-size: 15px;
  }

  .recipes-row {
    margin-left: 1rem;
  }

  .ingredients {
    font-size: 14px;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ingredient-name {
    width: 100px;
    height: 30px;
    font-size: 13px;
  }
  .ingredient-quantity {
    width: 40px;
    height: 30px;
    font-size: 13px;
  }
  .ingredient-unit {
    width: 40px;
    height: 30px;
    font-size: 13px;
  }
  .step-number {
    width: 30px;
    height: 30px;
    font-size: 13px;
    margin-bottom: 2.7rem;
  }
  .description {
    width: 150px;
    height: 65px;
    font-size: 13px;
  }
  .btn-danger {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-left: 0.5rem;
  }
  .recipe-image-form {
    margin-left: 1.7rem;
    margin-right: 0;
  }
  .image-form {
    width: 250px;
    font-size: 10px;
  }
  .delete-checkbox {
    font-size: 13px;
  }
  .delete-checkbox input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }

  .recipe-photo {
    width: 100%;
    height: auto;
  }
  .btn-recipe-edit {
    letter-spacing: 10px; /* 文字の間隔　*/
    font-size: 15px; /* 文字サイズ　*/
    text-indent: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    white-space: nowrap;
  }
  .btn-recipe-delete {
    letter-spacing: 10px; /* 文字の間隔　*/
    font-size: 15px; /* 文字サイズ　*/
    text-indent: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    white-space: nowrap;
  }
  .btn-menu-imaging {
    letter-spacing: 3px; /* 文字の間隔　*/
    font-size: 13px; /* 文字サイズ　*/
    text-indent: 5px;
    margin-bottom: 1.5rem;
  }

  .menu-form-label {
    font-size: 26px;
  }
  .menu-form-control {
    width: 92%;
    font-size: 20px;
  }

  .show-recipe-photo {
    width: 100%;
    height: auto;
  }
  .subtitle {
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    margin-right: 0;
  }
  .show-recipe-container {
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .custom-card-profile-width {
    margin-bottom: 3rem;
  }

  .profile-container {
    padding-bottom: 3rem;
  }

  .btn-primary-profile {
    letter-spacing: 2px; /* 文字の間隔　*/
    font-size: 18px; /* 文字サイズ　*/
    text-indent: 2px;
    white-space: nowrap;
  }

  .pass-forger-link {
    margin-left: 17rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .register-link {
    margin-left: 17rem;
  }

  .search-field {
    width: 12rem;
    font-size: 15px;
  }
  .list-group {
    min-width: 12rem; /* フォームの幅に合わせる */
    font-size: 15px;
  }

  .app-share-recipe{
    font-size: 17px;
  }
  .line-icon-footer {
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
  }
  .line-icon-recipe {
    margin-right: 1rem;
  }

  .app-share-menu {
    margin-right: 1rem;
    font-size: 17px;
  }
  .line-icon-menu {
    margin-bottom: 0.2rem;
  }
  .x-icon-menu {
    margin-right: 2.5rem;
  }

  .how-to-use {
    margin-bottom: 3rem;
  }
  .lead {
    font-size: 18px;
  }
  .usage-details {
    font-size: 16px;
  }

  .note-label h5 {
    font-size: 16px;
  }
  .note-input .form-control {
    font-size: 14px;
  }
  .add-note {
    margin-right: 3rem;
  }
  .new-menu .form-select {
    width: 76%;
    font-size: 16px;
    margin-right: 1rem;
    margin-bottom: 3rem;
  }
  .new-menu .btn-primary {
    width: 75%;
    font-size: 18px;
    margin-left: 1rem;
    margin-bottom: 3rem;
  }

  .edit-menu .form-select{
    width: 62%;
    font-size: 16px;
    margin-right: 3rem;
    margin-bottom: 3rem;
  }
  .edit-menu .btn-primary {
    width: 75%;
    font-size: 18px;
    margin-bottom: 3rem;
  }
  .source-site {
    font-size: 16px;
  }
}

/* スマートフォンサイズ用のスタイル */
@media (max-width: 767px) {
  body {
    font-size: 10px; /* 基本のフォントサイズを10pxに */
    padding-bottom: 135px;
  }
  footer {
    height: 135px;
  }
  
  .custom-link {
    font-size: 10px; /* custom-linkのフォントサイズを10pxに */
  }
  .custom-link-footer {
    font-size: 12px;
    color: #4C4C4C;
    text-decoration: none; /* アンダーラインを消す場合 */
    margin-right: 1rem;
  }
  
  .logo {
    max-height: 50px; /* ロゴの高さを50pxに */
    max-width: 50px;  /* ロゴの幅を50pxに */
  }

  /* 右側のリンクのcol-4の左右のパディングを0に */
  .col-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-link {
    font-size: 15px;
  }

  .top-page-title {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  .h3 {
    font-size: 16px;
  }

  .h5 {
    font-size: 13px;
  }

  .how-to-use {
    padding-bottom: 0.25rem;
    margin-bottom: 2rem;
  }
  .how-to-use h3 {
    font-size: 18px;
  }
  
  ol, ul {
    padding-left: 0.8rem;
  }

  .lead {
    font-size: 12px;
  }
  .usage-details {
    font-size: 11px;
  }

  .breadcrumbs {
    font-size: 10px;
  }

  .page-title {
    font-size: 20px;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
  }

  .btn-cookpad {
    letter-spacing: 2px;
    font-size: 15px;
    padding-left: 3rem;
    padding-right: 2.5rem;
    margin-bottom: 2rem;
  }
  .btn-delish-kitchen {
    letter-spacing: 2px;
    font-size: 15px;
    padding-left: 3rem;
    padding-right: 2.5rem;
    margin-bottom: 2rem;
  }
  .btn-kurashiru {
    letter-spacing: 2px;
    font-size: 15px;
    padding-left: 3rem;
    padding-right: 2.5rem;
    margin-bottom: 2rem;
  }

  .save-options-auto {
    background-color: #F78700;
    width: 30em;
    height: 20em;
  }
  .save-options-auto:hover {
    background-color: #d07301 ;
  }
  .save-options-manual {
    background-color: #FFD200;
    width: 30em;
    height: 20em;
  }
  .save-options-manual:hover {
    background-color: #e7bd03;
  }
  .save-options {
    margin-top: 1rem;
  }
  .card-text {
    font-size: 15px;
    margin-bottom: 0.5rem;
  }

  .form-label {
    font-size: 18px;
  }
  .form-control {
    font-size: 10px;
  }

  .btn-primary {
    font-size: 15px;
    letter-spacing: 2px;
    padding-left: 1rem;
    padding-right: 1.5rem;
    white-space: nowrap;
  }

  .manual-save-form-label {
    font-size: 18px;
    padding-left: 0.5rem;
  }
  .manual-save-form-control {
    width: 180px;
    height: 30px;
    margin-left: 1.5rem;
  }

  .recipes-row {
    margin-left: 0;
  }
  .ingredients {
    font-size: 9px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ingredient-name {
    width: 90px;
    height: 30px;
  }
  .ingredient-quantity {
    width: 35px;
    height: 30px;
  }
  .ingredient-unit {
    width: 35px;
    height: 30px;
  }
  .step-number {
    width: 25px;
    height: 25px;
    margin-bottom: 2.7rem;
  }
  .description {
    width: 135px;
    height: 65px;
  }

  .btn-danger {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-left: 0.5rem;
  }

  .recipe-image-label {
    margin-left: 6rem;
  }

  .recipe-image-form {
    margin-left: 0;
    margin-right: 0;
  }

  .image-form {
    width: 200px;
  }

  .delete-checkbox {
    font-size: 11px;
  }
  .delete-checkbox input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }

  .recipe-photo {
    width: 100%;
    height: auto;
  }

  .recipe-title {
    font-size: 15px;
  }
  
  .source-site {
    font-size: 12px;
  }

  .btn-recipe-edit {
    letter-spacing: 4px; /* 文字の間隔　*/
    font-size: 10px; /* 文字サイズ　*/
    text-indent: 4px;
    white-space: nowrap;
  }
  .btn-recipe-delete {
    letter-spacing: 4px; /* 文字の間隔　*/
    font-size: 10px; /* 文字サイズ　*/
    text-indent: 4px;
    white-space: nowrap;
  }
  .btn-menu-imaging {
    letter-spacing: 2px; /* 文字の間隔　*/
    font-size: 8px; /* 文字サイズ　*/
    text-indent: 3px;
    margin-bottom: 1rem;
  }

  .show-recipe-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .show-recipe-photo {
    width: 100%;
    height: auto;
  }

  .show-ingredient-row {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .subtitle {
    font-size: 15px;
    text-align: center;
    letter-spacing: 5px;
    margin-right: 0;
  }

  .show-recipe-container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
  }
  
  .menu-form-label {
    font-size: 15px;
    margin-bottom: 0.3rem;
  }
  .menu-form-control {
    width: 230px;
    height: 30px;
    font-size: 15px;
    margin-left: 1rem;
  }

  .recipe-select {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    font-size: 15px;
  }

  .recipe-list {
    margin-left: 0;
    margin-right: 0;
  }

  .menu-title .no-underline {
    font-size: 18px;
  }

  .menu-list {
    margin-left: 0;
    margin-right: 0;
  }
  .menu-list-row {
    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  .custom-card-pages {
    padding: 1.5rem;
    margin-bottom: 2rem;
  }

  .subtitle-1 {
    font-size: 0.7rem;
  }

  .custom-card-width {
    min-width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .inquiry-copmlete-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .inquiry-complete-message {
    font-size: 15px;
  }

  .btn-primary-profile {
    letter-spacing: 2px; /* 文字の間隔　*/
    font-size: 10px; /* 文字サイズ　*/
    text-indent: 2px;
    white-space: nowrap;
  }

  .profile-container {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    margin-top: 1rem;
  }

  .custom-card-profile-width {
    min-width: 90%;
    margin: auto;
    margin-bottom: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .pass-edit-link {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-left: 10rem;
  }

  .profile-form-label {
    font-size: 15px;
  }

  .btn-secondary {
    font-size: 15px;
    letter-spacing: 2px;
    padding-left: 1rem;
    padding-right: 1.5rem;
    white-space: nowrap;
  }

  .top-btn-primary {
    letter-spacing: 10px; /* 文字の間隔　*/
    font-size: 15px; /* 文字サイズ　*/
    text-indent: 0.5rem;
    width: 10rem;
  }
  .top-btn-secondary {
    letter-spacing: 10px; /* 文字の間隔　*/
    font-size: 15px; /* 文字サイズ　*/
    text-indent: 0.5rem;
    width: 10rem;
  }

  .pass-forger-link {
    margin-left: 9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .register-link {
    margin-left: 9rem;
    margin-bottom: 1rem;
  }

  .search-form {
    margin-top: 3rem;
    margin-right: 0;
  }
  .form-group {
    margin-left: 0.5rem;
    border-radius: 2px;
  }
  .search-field {
    height: 1.5rem;
    width: 6rem;
  }
  .list-group {
    top: 1.5rem; /* フォームの下に配置 */
    min-width: 6rem; /* フォームの幅に合わせる */
    max-width: 11rem; /* 最大幅を設定、必要に応じて調整 */
    max-height: 6rem;
  }
  .list-group-item {
    height: 1.5rem;
    font-size: 8px;
  }
  .btn-search {
    background-color: #c4c4c4; /* ボタンの色　*/
    letter-spacing: 0.1rem; /* 文字の間隔　*/
    text-indent: 0.1rem;
    height: 1.5rem;
    border-radius: 2px;
    font-size: 12px;
  }

  .app-share-footer {
    font-size: 12px;
    padding-right: 1rem;
  }
  .app-share-recipe {
    font-size: 12px;
    padding-right: 2rem;
    margin-right: 1rem;
    width: 100%;
  }
  .app-share-menu {
    font-size: 12px;
    padding-left: 2rem;
    margin-right: 2rem;
    width: 100%;
  }

  .x-icon-recipe {
    padding-right: rem;
    margin-bottom: 2.25rem;
    margin-right: 6rem;
  }
  .x-icon-menu {
    padding-right: rem;
    margin-bottom: 1rem;
    margin-right: 6.9rem;
  }
  .x-icon-footer {
    margin-top: 1.1rem;
    padding-left: 5rem;
  }
  
  .line-icon-menu {
    width: 5.6rem;
    height: auto;
    margin-right: 2rem;
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .line-icon-recipe {
    width: 5.6rem;
    height: auto;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .line-icon-footer {
    width: 5.6rem;
    height: auto;
    margin-top: 0.1rem;
    margin-left: 1rem;
  }


  .note-label h5 {
    font-size: 9px;
  }
  .note-input .form-control {
    font-size: 7.5px;
    padding: 0.5rem 0.1rem;
  }
  .add-note {
    margin-right: 0;
  }
  .new-menu .form-select {
    width: 90%;
    font-size: 8px;
    padding: 0.5rem 0.25rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .new-menu .btn-primary {
    width: 75%;
    font-size: 10px;
    text-indent: 0;
    margin-left: 0.5rem;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
  }

  .edit-menu .form-select{
    width: 80%;
    font-size: 8px;
    padding: 0.5rem 0.25rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .edit-menu .btn-primary {
    width: 75%;
    font-size: 10px;
    text-indent: 0;
    margin-left: 0.5rem;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
  }
}