/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

body {
  background-color: #FEEABC; /* アプリケーションの背景色 */
}

h1.top-page-title {
  font-family: "Playwrite NO", cursive;
}

header {
  background-color: #F6B352;
}
.logo {
  max-height: 100px; /* ロゴの高さを調整 */
  max-width: 100%;  /* 画像がコンテナを超えないように */
}
.nav-link.active {
  color: #fff; /* 例: アクティブなリンクの色を白にする */
}
.custom-link {
  color: #4C4C4C;
  text-decoration: none; /* アンダーラインを消す場合 */
  font-size: 20px;
}
.custom-link:hover {
  color: #61C359; /* ホバー時に色を変える場合 */
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

footer {
  background-color: #F6B352;
}


.custom-card-width {
  max-width: 70%; /* 必要に応じて調整 */
  margin: auto; /* カードを中央揃えにする */
  background-color: #FFD982;
}

.btn-primary {
  background-color: #61C359; /* ボタンの色　*/
  border: none; /* ボーダーを消す　*/
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 25px; /* 文字サイズ　*/
  text-indent: 10px;
}
.btn-primary:hover {
  background-color: #50a149; /* ホバー時の色 */
}

.form-label {
  font-size: 20px;
}

.btn-secondary {
  background-color: #F78700; /* ボタンの色　*/
  border: none; /* ボーダーを消す　*/
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 25px; /* 文字サイズ　*/
  text-indent: 10px;
}
.btn-secondary:hover {
  background-color: #d07301 ; /* ホバー時の色 */
}

.btn-cookpad {
  background-color: #F78700; /* ボタンの色　*/
  border: none; /* ボーダーを消す　*/
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 30px; /* 文字サイズ　*/
  text-indent: 10px;
}
.btn-cookpad:hover {
  background-color: #d07301 ; /* ホバー時の色 */
}

.save_options_auto {
  background-color: #F78700;
  width: 20em;
  height: 20em;
}
.save_options_auto:hover {
  background-color: #d07301 ;
}
.save_options_manual {
  background-color: #FFD200;
  width: 20em;
  height: 20em;
}
.save_options_manual:hover {
  background-color: #e7bd03;
}
.save_options {
  background-color: #F5F5F5;
}
.card:hover .save_options {
  background-color: #d9d6d6;
}
.small-font li {
  font-size: 0.9em;
}

.custom-card-manual-save {
  max-width: 90%; /* 必要に応じて調整 */
  margin: auto; /* カードを中央揃えにする */
  background-color: #FFD982;
}

.form-group {
  margin-bottom: 20px; /* フォームとボタンの間に20pxの間隔を追加 */
}
.btn-manual_save {
  background-color: #e2e1df; /* ボタンの色　*/
  border: none; /* ボーダーを消す　*/
  font-size: 15px; /* 文字サイズ　*/
}
.btn-manual_save:hover {
  background-color: #c7c6c4;
}

.btn-danger {
  background-color: #F68655;
  width: 40px;
  height: 40px;
}

.recipe-preview {
  background-color: #FFD982;
}

.btn-add-menu {
  background-color: #F6B352;
  color: #4C4C4C;
  border: none;
  letter-spacing: 5px; /* 文字の間隔　*/
  font-size: 20px; /* 文字サイズ　*/
  text-indent: 5px;
}
.btn-add-menu:hover {
  background-color: #d99c47;
}
.btn-recipe-edit {
  background-color: #61C359;
  border: none;
  color: #EFEFEF;
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 20px; /* 文字サイズ　*/
  text-indent: 10px;
}
.btn-recipe-edit:hover {
  background-color: #50a149;
  color: #dbd8d8;
}
.btn-recipe-delete {
  background-color: #F68655;
  border: none;
  color: #EFEFEF;
  letter-spacing: 10px; /* 文字の間隔　*/
  font-size: 20px; /* 文字サイズ　*/
  text-indent: 10px;
}
.btn-recipe-delete:hover {
  background-color: #cf7047;
  color: #dbd8d8;
}

.subtitle {
  background-color: #F6B352;
  text-align: center;
  letter-spacing: 5px;
}

.delete-checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.remove-button {
  margin-left: 1em;
}

.step-number {
  width: 40px;
  height: 40px;
  text-align: center;
  margin-bottom: 4em;
}

.add-menu-checkbox input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

.no-underline {
  text-decoration: none;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)); /* 初期の色を設定 */
}
.no-underline:hover {
  color: #61C359; /* ホバー時の色を設定 */
}

.menu-preview {
  background-color: #FFD982;
}

.field_with_errors {
  display: contents;
}

.custom-card-pages {
  max-width: 90%; /* 必要に応じて調整 */
  margin: auto; /* カードを中央揃えにする */
  background-color: #fcf5e6;
}

.subtitle-1 {
  margin-top: 1em;
  font-weight: 600;
  font-size: 1.3em;
}

/* パンくず全体のスタイル */
.breadcrumbs {
  font-size: 15px;
  color: #000000; /* リンク以外の部分の色 */
}
/* パンくずリンクのスタイル */
.breadcrumbs a {
  color: #808080; /* 通常のリンク色 */
  text-decoration: none;
}
/* パンくずリンクのホバースタイル */
.breadcrumbs a:hover {
  color: #61C359; /* ホバー時のリンク色 */
  text-decoration: none;
}
/* パンくずの現在のページ部分のスタイル */
.breadcrumbs .current {
  color: #000000; /* 現在のページ部分の色 */
}